body {
    background-color: rgb(0, 65, 39);
}

.bsa img {
    border: 1px solid black;
    margin-top: 20px;
}

h1 {
    color: green;
}

.logo {
    display: flex;
}

.logo img {
    border: 3px solid green;
    margin-left: 30px;
    margin-top: 10px;
}

.fotos img {
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 10px;
}


.topnav {
    background-color: lawngreen;
    overflow: hidden;
    text-align: center;
    border-radius: 20%;
    padding: 50px;
    margin: auto;
    
    
  }
  
  .topnav a {
    color: black;
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }