*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color:rgb(0, 65, 39);
}

.Adres{
    border-radius: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lawngreen;
    width: 600px;
    padding: 50px;
    margin: auto;
}

.topnav {
    background-color: lawngreen;
    overflow: hidden;
    text-align: center;
    border-radius: 20%;
    padding: 50px;
    margin: auto;
    
    
  }
  
  .topnav a {
    color: black;
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

@media screen and (max-width: 768px) and (min-width: 576px) {
  
.Adres{
  border-radius: 25px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lawngreen;
  width: 600px;
  padding: 50px;
  margin: auto;
}

.topnav {
      background-color: lawngreen;
      overflow: hidden;
      border-radius: 20%;
      padding: 5px;
      margin: auto;
      height: 20vh;
      display: flex; 
}

.topnav a {
  color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


} 


@media screen and (max-width: 576px) {
  
  .Adres{
    border-radius: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lawngreen;
    width: 400px;
    padding: 50px;
    margin: auto;
  }
  
  .topnav {
    background-color: lawngreen;
      overflow: hidden;
      border-radius: 20%;
      padding: 5px;
      margin: auto;
      height: 20vh;
      display: flex;
    
  }
  
  .topnav a {
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  } 
  
