body{
    background-image:url(logo.Eredivisie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table,th, td {
    border: 2px groove blue;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
  }

